@font-face {
  font-family: "Binggrae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff")
    format("woff");
}
* {
  font-family: "Binggrae";
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
}

.logo {
  top: 30px;
  left: 1495px;
  width: 165px;
  height: 40px;
}

.bg {
  top: 0px;
  left: 0px;
  z-index: -2;
}

.opacity {
  top: 0px;
  left: 0px;
  z-index: -1;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

#greet {
  top: 451px;
  left: 763px;
  width: 394px;
  height: 40px;
  text-align: center;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#nameWarningOne {
  display: none;
  top: 497px;
  left: 768px;
  width: 148px;
  height: 16px;
  text-align: center;
  font: normal normal normal 12px/16px Binggrae;
  letter-spacing: 0px;
  color: #ff3b3b;
  opacity: 1;
}
#nameWarningTwo {
  display: none;
  top: 497px;
  left: 730px;
  width: 290px;
  height: 16px;
  text-align: center;
  font: normal normal normal 12px/16px Binggrae;
  letter-spacing: 0px;
  color: #ff3b3b;
  opacity: 1;
}

#nameInput {
  top: 519px;
  left: 763px;
  width: 394px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2) 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal normal 18px/24px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
}

::placeholder {
  text-align: center;
  font: normal normal normal 18px/24px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.6;
}

#nameBtn {
  top: 592px;
  left: 907px;
  width: 106px;
  height: 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #1e1e1e;
  opacity: 1;
}

#tutorialSector {
  display: none;
}

#tutorialOne {
  display: none;
}
#tOneGreet {
  top: 374px;
  width: 440px;
  height: 40px;
  text-align: center;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#tOneBox {
  top: 432px;
  left: 690px;
  width: 540px;
  height: 300px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  opacity: 1;
}

#tOneText {
  top: 126px;
  left: 104px;
  width: 332px;
  height: 48px;
  text-align: center;
  font: normal normal normal 18px/24px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#tOneBtn {
  top: 260px;
  left: 217px;
  width: 106px;
  height: 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

#tutorialTwo {
  display: none;
}
#tTwoGreet {
  top: 374px;
  left: 799px;
  width: 322px;
  height: 40px;
  text-align: center;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#tTwoBox {
  top: 432px;
  left: 690px;
  width: 540px;
  height: 300px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  opacity: 1;
}

#tTwoBtn {
  top: 260px;
  left: 217px;
  width: 106px;
  height: 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #1e1e1e;
}

.addIcon {
  top: 477px;
  left: 726px;
  width: 107px;
  height: 93px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.recordIcon {
  top: 479px;
  left: 913px;
  width: 94px;
  height: 89px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.checkIcon {
  top: 476px;
  left: 1102px;
  width: 75px;
  height: 95px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

#addTextBox {
  top: 173px;
  left: 58px;
  width: 64px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 13px;
  opacity: 1;
}
#addText {
  top: 175px;
  left: 73px;
  width: 34px;
  height: 21px;
  text-align: center;
  font: normal normal normal 16px/21px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#recordTextBox {
  top: 173px;
  left: 220px;
  width: 100px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 13px;
  opacity: 1;
}
#recordText {
  top: 175px;
  left: 235px;
  width: 70px;
  height: 21px;
  text-align: center;
  font: normal normal normal 16px/21px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#checkTextBox {
  top: 173px;
  left: 407px;
  width: 86px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 13px;
  opacity: 1;
}
#checkText {
  top: 175px;
  left: 422px;
  width: 56px;
  height: 21px;
  text-align: center;
  font: normal normal normal 16px/21px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#addExplain {
  top: 206px;
  left: 28px;
  width: 125px;
  height: 38px;
  text-align: center;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#recordExplain {
  top: 206px;
  left: 213px;
  width: 114px;
  height: 38px;
  text-align: center;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#checkExplain {
  top: 206px;
  left: 375px;
  width: 155px;
  height: 38px;
  text-align: center;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#mainSector {
  display: none;
}

#clock {
  top: 280px;
  left: 781px;
  width: 358px;
  height: 107px;
  text-align: center;
  font: normal normal bold 80px/107px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#sayHi {
  top: 407px;
  left: 760px;
  width: 400px;
  height: 37px;
  text-align: center;
  font: normal normal normal 28px/37px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#locationText {
  top: 456px;
  height: 27px;
  text-align: center;
  font: normal normal normal 20px/27px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#locationBox {
  top: 454px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 18px;
  opacity: 1;
}
#locationLogo {
  z-index: 3;
  top: 460px;
  width: 12px;
  height: 16px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

#inputGreet {
  top: 565px;
  left: 809px;
  width: 302px;
  height: 40px;
  text-align: center;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#todoForm {
  top: 623px;
  left: 690px;
}

#todoWarning {
  top: 603px;
  left: 700px;
  width: 290px;
  height: 16px;
  text-align: left;
  font: normal normal normal 12px/16px Binggrae;
  letter-spacing: 0px;
  color: #ff3b3b;
  opacity: 1;
}

#todoForm hr {
  left: 1px;
  width: 540px;
  border-bottom: 0.1px solid #ffffff;
  top: 75px;
}
#todoInput {
  width: 540px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font: normal normal normal 18px/24px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.6;
}

#todayTitleBox {
  top: 130px;
  left: 260px;
  width: 332px;
  height: 42px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
}

#todayTitleText {
  top: 8px;
  left: 133px;
  width: 64px;
  height: 27px;
  text-align: center;
  font: normal normal bold 20px/27px Binggrae;
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  background-clip: padding-box;
  border-left: 5px solid transparent;
  border-bottom-right-radius: 5px;
}

#routineList {
  overflow: auto;
  position: relative;
  list-style: none;
  top: 554px;
  left: 260px;
  width: 330px;
  height: 430px;
  border: 1px solid #ffffff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 1;
}
#routineList li {
  left: 20px;
  width: 290px;
  height: 21px;
  position: relative;
  top: 10px;
  margin: 0;
  margin-bottom: 20px;
}
#todayList {
  overflow: auto;
  position: relative;
  list-style: none;
  top: 172px;
  left: 260px;
  width: 330px;
  height: 300px;
  border: 1px solid #ffffff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 1;
}
#todayList li {
  left: 20px;
  width: 290px;
  height: 21px;
  position: relative;
  top: 10px;
  margin: 0;
  margin-bottom: 20px;
}
#todayList hr {
  top: 31px;
  width: 290px;
  border-bottom: 0.1px solid #ffffff;
}
#routineList hr {
  top: 31px;
  width: 290px;
  border-bottom: 0.1px solid #ffffff;
}

#textSpan {
  left: 26px;
  width: 123px;
  height: 21px;
  text-align: left;
  font: normal normal normal 16px/21px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#routineTextSpan {
  width: 123px;
  height: 21px;
  text-align: left;
  font: normal normal normal 16px/21px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#moveOver {
  top: 3px;
  left: 244px;
  width: 16px;
  height: 15px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
#start {
  top: 3px;
  left: 276px;
  width: 15px;
  height: 18px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
#check {
  top: 3px;
  width: 16px;
  height: 16px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
#moveUnder {
  top: 3px;
  left: 244px;
  width: 16px;
  height: 15px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
#delete {
  top: 4px;
  left: 276px;
  width: 14px;
  height: 14px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

#routineTitleBox {
  top: 512px;
  left: 260px;
  width: 333px;
  height: 42px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
}

#routineTitleText {
  top: 8px;
  left: 125px;
  width: 80px;
  height: 27px;
  text-align: center;
  font: normal normal bold 20px/27px Binggrae;
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
}

#recordWarning {
  top: 700px;
  left: 690px;
  width: 290px;
  height: 16px;
  text-align: left;
  font: normal normal normal 12px/16px Binggrae;
  letter-spacing: 0px;
  color: #ff3b3b;
  opacity: 1;
}

#recordTextSpan {
  top: 713px;
  left: 690px;
  width: 540px;
  height: 48px;
  text-align: center;
  font: normal normal normal 36px/48px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#stopImg {
  top: 849px;
  left: 970px;
  width: 50px;
  height: 50px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
#startImg {
  top: 849px;
  left: 970px;
  width: 50px;
  height: 50px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
#routineImg {
  top: 849px;
  left: 900px;
  width: 50px;
  height: 50px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

#H {
  top: 820px;
  left: 915px;
  width: 10px;
  height: 19px;
  text-align: left;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}
#M {
  top: 820px;
  left: 978px;
  width: 13px;
  height: 19px;
  text-align: left;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}
#S {
  top: 820px;
  left: 1042px;
  width: 8px;
  height: 19px;
  text-align: left;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}

#hourText {
  top: 799px;
  left: 870px;
  width: 41px;
  height: 40px;
  text-align: left;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#minuteText {
  top: 799px;
  left: 935px;
  width: 39px;
  height: 40px;
  text-align: left;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#secondText {
  top: 799px;
  left: 1001px;
  width: 37px;
  height: 40px;
  text-align: left;
  font: normal normal normal 30px/40px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#timelineChartSector {
  width: 0;
}
#timelineBtn {
  top: 130px;
  left: 1330px;
  width: 166px;
  height: 42px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #1e1e1e;
  opacity: 1;
}

#chartBtn {
  top: 144px;
  left: 1496px;
  width: 166px;
  height: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font: normal normal normal 14px/19px Binggrae;
  letter-spacing: 0px;
  color: #1e1e1e;
  opacity: 0.9;
}

.clicked {
  text-decoration-line: line-through;
}

#todaySector {
  width: 0;
  height: 0;
}
#routineSector {
  width: 0;
  height: 0;
}

#timelineList {
  position: relative;
  overflow: auto;
  list-style: none;
  opacity: 1;
  top: 172px;
  left: 1330px;
  width: 330px;
  height: 812px;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 8px 8px;
  opacity: 1;
}

#timelineList li {
  left: 20px;
  width: 290px;
  height: 43px;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}

#dateSpan {
  top: 12px;
  width: 52px;
  height: 13px;
  text-align: center;
  font: normal normal normal 10px/13px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#timelineTextSpan {
  top: 29px;
  width: 290px;
  height: 21px;
  text-align: left;
  font: normal normal normal 16px/21px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#timelineList hr {
  top: 60px;
  width: 290px;
  border-bottom: 0.1px solid #ffffff;
}

#chartSector {
  display: none;
  top: 172px;
  left: 1330px;
  width: 330px;
  height: 812px;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 8px 8px;
  opacity: 1;
}
#chartTodayTitle {
  left: 127px;
  top: 20px;
  width: 76px;
  height: 32px;
  text-align: center;
  font: normal normal normal 24px/32px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#middleHr {
  left: 20px;
  top: 326px;
  width: 290px;
  border-bottom: 0.1px solid #ffffff;
}

#chartRoutineTitle {
  top: 346px;
  left: 117px;
  width: 96px;
  height: 32px;
  text-align: center;
  font: normal normal normal 24px/32px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#chartTodayStatus {
  top: 134px;
  left: 92px;
  width: 146px;
  height: 68px;
  text-align: center;
  font: normal normal normal 50px/68px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#chartTodayPie {
  top: 65px;
  left: 62px;
  position: relative;
  width: 206px;
  height: 206px;
  z-index: 1000;
}

#chartTodayPie circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 5;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

#chartTodayPie circle:nth-child(2) {
  stroke-dasharray: 616;
  stroke-dashoffset: 616;
  stroke: #ffffff;
}

#chartTodayPie circle:nth-child(2) {
  stroke-dashoffset: calc(616 - (616 * 0) / 100);
}

#defaultHr {
  top: 422px;
  left: 20px;
  width: 290px;
  height: 4px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
#defaultText {
  top: 399px;
  left: 20px;
  width: 77px;
  height: 13px;
  text-align: left;
  font: normal normal normal 10px/13px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#chartRoutineList {
  overflow: auto;
  list-style: none;
  position: relative;
  top: 426px;
  width: 332px;
  height: 408px;
}

#chartRoutineList li {
  position: relative;
  top: 20px;
  left: 20px;
  width: 290px;
  height: 47px;
}

#chartRoutineList span {
  text-align: left;
  font: normal normal normal 10px/13px Binggrae;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#chartRoutineList hr {
  top: 23px;
  height: 4px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0;
  border-radius: 2px;
  opacity: 1;
}
